* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
}

#app {
  background-image: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;

  &.warm {
  background-image: url('./assets/warm-bg.jpg');
  }
  &.cold {
  background-image: url('./assets/cold-bg.jpg');
  }
}

main {
  min-height: 100vh;
  padding: 25px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.35));
}

.search-box {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  color: #313131;
  font-size: 21px;

  appearance: none;
  border: none;
  outline: none;
  background: none;

  box-shadow: 0 0 16px rgba(0, 0, 0, .25);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 16px 0 0;
  transition: .4s;

  &:focus {
    box-shadow: 0 0 16px rgba(0, 0, 0, .25);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 16px 16px 0 0;
  }
}

.date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.weather-box {
  text-align: center;
  
  .location {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 3px rgba(0, 0, 0, .25);
  }

  .temp {
    display: inline-block;
    padding: 10px 25px;
    color: #fff;
    font-size: 102px;
    font-weight: 900;

    text-shadow: 3px 6px rgba(0, 0, 0, .25);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    margin: 30px 0;

    box-shadow: 3px 6px rgba(0, 0, 0, .25);
  }

  .weather {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 3px 6px rgba(0, 0, 0, .25);
  }
}

.cities {
  list-style-type: none; 
}

.city {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(0, 0, 0, .25);

  &:last-child {
    border-radius: 0 0 16px 16px;
  }
}

.icon {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}